@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pause {
    animation-play-state: paused;
  }

  /* bg-background/20 border border-accent/30   shadow-glass-inset  */
  .custom-bg {
    @apply bg-slate-400 border-black hover:shadow-glass-sm border-solid backdrop-blur-[6px] hover:bg-stone-500 hover:shadow-white shadow-glass-inset ;
  }
}

@keyframes spin-reverse {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}